*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar{
    height: 102px;
    width: 1440px;
    background-color: black;
    margin: 0px;
    position: relative;
}

.logo{
    height: 111px;
    width: 391px;
    top:-12px;
    right: 1702px;
    bottom: 3px;
    left: -23px;
    position: absolute;
    background-image: url("cap images/Gemini_Generated_Image_j2ln6qj2ln6qj2ln-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 0px;
}

.About{
    height: 93px;
    width: 180px;
    top: 1px;
    right: 765px;
    bottom: 8px;
    left: 495px;
    position: absolute;
}

.Support{
    height: 93px;
    width: 180px;
    top: 4px;
    right: 633px;
    bottom: 5px;
    left: 627px;
    position: absolute;
}

.More{
    height: 93px;
    width: 180px;
    top: 1px;
    right: 491px;
    bottom: 8px;
    left: 769px;
    position: absolute;
}

.Buy{
    height: 56px;
    width: 110px;
    top: 20px;
    right: 152px;
    bottom: 26px;
    left: 1178px;
    position: absolute;
    border-radius: 50px;
    background-image: url("cap images/Gemini_Generated_Image_oh280yoh280yoh28-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 1px solid gold;
}

.Search{
    height: 67px;
    width: 67px;
    top: 15px;
    right: 85px;
    bottom: 20px;
    left: 1288px;
    position: absolute;
    background-image: url("cap images/Gemini_Generated_Image_vlchwjvlchwjvlch-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 0px;
}

.Profile{
    height: 67px;
    width: 67px;
    top: 15px;
    right: 18px;
    bottom: 20px;
    left: 1355px;
    position: absolute;
    background-image: url("cap images/Gemini_Generated_Image_mceivsmceivsmcei-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 0px;
}

.sec1{
    height: 807px;
    width: 1440px;
    background-image: url("cap images/151fe1c93b8c2c4789ce4f9a5d3df53b.jpg");    
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.one{
    height: 104px;
    width: 1440px;
    background-color: black;
    top: 90px;
    left:0px;
    position: absolute;
    opacity: 0.7;
}

.two{
    height: 104px;
    width: 1440px;
    background-color: black;
    top: 324px;
    left:0px;
    position: absolute;
    opacity: 0.7;
}

.three{
    height: 104px;
    width: 1440px;
    background-color: black;
    top: 573px;
    left:0px;
    position: absolute;
    opacity: 0.7;
}

.a{
    height: 248px;
    width: 629px;
    top: 88px;
    left: 399px;
    position: absolute;
    font-size: 96px;
    opacity: 0.7;
    color: #ffc0e4;
}

.b{
    height: 248px;
    width: 713px;
    top: 322px;
    left: 399px;
    position: absolute;
    font-size: 96px;
    opacity: 0.7;
    color: #ffc0e4;

}

.c{
    height: 248px;
    width: 599px;
    top: 571px;
    left: 399px;
    position: absolute;
    font-size: 96px;
    opacity: 0.7;
    color: #ffc0e4;
}

.sec2{
    height: 900px;
    width: 1440px;
    position: relative;
}

.sec2 h2{
    height: 249px;
    width: 1440px;
    top: 50px;
    left: 99px;
    font-size: 64px;
    font-weight: ExtraBold;
    position: absolute; 
    color: #ffc0e4;
}

.sec2 p{
    height: 96px;
    width: 1242px;
    top: 200px;
    left: 99px;
    font-size: 44px;
    position: absolute; 
    color: white;
}

.Footer{
    height: 388px;
    width: 1440px;
    position: relative;
    background-color: black;
}

.logo7{
    height: 111px;
    width: 401px;
    top: 48px;
    right: 515px;
    bottom: 229px;      
    left: 524px;
    position: absolute;
    background-color: black;
    background-image: url("cap images/Gemini_Generated_Image_j2ln6qj2ln6qj2ln-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.strong{
    height: 36px;
    width: 1440px;
    top: 159px;     
    right: 0px;
    bottom: 193px;
    left: 0px;
    font-size: 24px;
    position: absolute;
    text-align: center;
    color: white;
}

.sign{
    height: 72px;
    width: 1077px;
    top: 200px;
    right: 182px;
    bottom: 116px;
    left: 181px;
    font-size: 24px;
    position: absolute;
    text-align: center;
    color: white;
}

.facebook{
    height: 40px;
    width: 40px;
    top: 293px;
    right: 772px;
    bottom: 55px;
    left: 628px;
    position: absolute;
    background-image: url("cap images/f5a0bum23hqqkb7qk2q1h1lpje.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: none;
}

.linkedin{
    height: 40px;
    width: 40px;
    top: 293px;
    right: 724px;
    bottom: 55px;
    left: 676px;
    position: absolute;
    background-image: url("cap images/3kft339tguuarggagqlqho6dbh.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: none;
}
.twitter{
    height: 40px;
    width: 40px;
    top: 293px;
    right: 676px;
    bottom: 55px;
    left: 724px;
    position: absolute;
    background-image: url("cap images/Twitter-X-White-Logo-PNG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: none;
}
.instagram{
    height: 40px;
    width: 40px;
    top: 293px;
    right: 628px;
    bottom: 55px;
    left: 772px;
    position: absolute;
    background-image: url("cap images/image copy 7.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: none;
}


