*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-left: 5%;
    margin-right: 5%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}


.navbar{
    height: 102px;
    width: 100%;
    background-color: black;
    
    position: relative;
    display: flex;
    
    justify-content: space-between;
    
    flex-wrap: wrap;
    
    overflow: hidden;
}

.logo{
    
    height: 100px;
    width: clamp(391px, 25vw, 391px);
    width: 300px;
    position: relative;
    
    background-image: url("cap images/Gemini_Generated_Image_j2ln6qj2ln6qj2ln-removebg-preview.png");

    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-color: black;
    border: 0px;
    flex-shrink: 0;

}

.m{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: -100px;
}

.d{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-right: 50px;

}


.navbar a:nth-child(2),
.navbar a:nth-child(3),
.navbar a:nth-child(4) {
    display: flex;
}

.About,
.Support,
.More{
    
    height: 60px;
    width: 150px;
    
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border-radius: 50px;
    border: none;
    flex-shrink: 0;
    
}

.About{
    background-image: url("cap images/Gemini_Generated_Image_ah5ysaah5ysaah5y-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
    
}

.Support{
    background-image: url("cap images/Gemini_Generated_Image_rwcdjyrwcdjyrwcd-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    
}

.More{
    background-image: url("cap images/Gemini_Generated_Image_52whpf52whpf52wh-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Buy{
    height: 50px;
    width: clamp(80px, 8vw, 110px);
    border-radius: 50px;
    background-image: url("cap images/Gemini_Generated_Image_oh280yoh280yoh28-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 1px solid gold;
    flex-shrink: 0;
}

.Search{
    height: 50px;
    width: 50px;
    background-image: url("cap images/Gemini_Generated_Image_vlchwjvlchwjvlch-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 0px;
    flex-shrink: 0;
}

.Profile{
    height: 50px;
    width: 50px;
    background-image: url("cap images/Gemini_Generated_Image_mceivsmceivsmcei-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 0px;
    flex-shrink: 0;
}

#search-box{
    
    height: 85px;
    width: min(458px, 90%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    border: none;
    padding: 20px;
    background-color: black;
    opacity: 0.5;
    color: black;
}


.sec1{
    
    min-height: 600px;
    height: clamp(600px, 80vh, 807px);
    width: 100%; 
    background-image: url("cap images/151fe1c93b8c2c4789ce4f9a5d3df53b.jpg");    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    border-radius: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 20px;
    margin-bottom: 20px;
}


.one,
.two,
.three{
    
    height: clamp(80px, 10vh, 104px);
    width: 100%;
    background-color: black;
    position: absolute;
    left: 0;
    opacity: 0.7;
    
    transition: opacity 0.3s ease;
}

.one{
    
    top: 11%;
}

.two{
    
    top: 40%;
}

.three{
    
    top: 71%;
}

.one:hover,
.two:hover,
.three:hover{
    opacity: 0.85; 
}


.a,
.b,
.c{
    
    font-size: clamp(48px, 8vw, 96px);
    opacity: 0.9; 
    color: #ffc0e4;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
    text-align: center;
    width: 90%;
    max-width: 800px;
    line-height: 1.2;
    
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.a{
    
    top: 11%;
}

.b{
    
    top: 40%;
}

.c{
    
    top: 71%;
}


.sec2{
    
    min-height: 500px;
    height: auto; 
    width: 100%; 
    position: relative;
    padding: 70px 5%;
    margin-bottom: 20px;
}

.sec2 h2{
    
    font-size: clamp(40px, 6vw, 64px);
    font-weight: 800;
    color: #ffc0e4;
    margin-bottom: 30px;
    position: relative; 
    
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.sec2 p{
    
    font-size: clamp(18px, 2.5vw, 44px);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    position: relative; 
    width: 1442px;
}


.Footer{
    min-height: 300px;
    width: 100%;
    position: relative;
    background-color: black;
    padding: 40px 5%;
    text-align: center;
}

.logo7{
    
    height: clamp(70px, 10vw, 111px);
    width: clamp(250px, 35vw, 401px);
    margin: 0 auto 20px;
    position: relative;
    background-color: black;
    background-image: url("cap images/Gemini_Generated_Image_j2ln6qj2ln6qj2ln-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.strong{
    width: 100%;
    font-size: clamp(18px, 2.5vw, 24px);
    margin: 20px 0;
    color: white;
}

.sign{
    width: 90%;
    max-width: 1077px;
    font-size: clamp(14px, 2vw, 24px);
    margin: 20px auto;
    color: white;
    line-height: 1.5;
}


.Footer .facebook,
.Footer .linkedin,
.Footer .twitter,
.Footer .instagram,
.Footer .youtube{
    height: 40px;
    width: 40px;
    display: inline-block;
    position: relative;
    margin: 10px 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: none;
}

.facebook{
    background-image: url("cap images/f5a0bum23hqqkb7qk2q1h1lpje.png");
}

.linkedin{
    background-image: url("cap images/3kft339tguuarggagqlqho6dbh.png");
}

.twitter{
    background-image: url("cap images/Twitter-X-White-Logo-PNG.png");
}

.instagram{
    background-image: url("cap images/image copy 7.png");
}

button:hover{
    cursor: pointer;
}


@media screen and (max-width: 1024px) {
    body {
        margin-left: 3%;
        margin-right: 3%;
    }
    
    
    .navbar {
        height: auto;
        padding: 15px 2%;
        gap: 10px;
    }
    
    .About, .Support, .More {
        height: 50px;
        width: 120px;
    }
    
    
    .sec1 {
        min-height: 500px;
        padding: 30px 15px;
    }
    
    .one, .two, .three {
        height: 90px;
    }
    
    .a, .b, .c {
        font-size: clamp(40px, 7vw, 80px);
    }
    
    
    .sec2 {
        padding: 60px 4%;
    }
    
    .sec2 h2 {
        font-size: clamp(36px, 5vw, 56px);
    }
    
    .sec2 p {
        font-size: clamp(16px, 2.2vw, 36px);
    }
}


@media screen and (max-width: 768px) {
    body {
        margin-left: 2%;
        margin-right: 2%;
    }
    
    
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px;
        height: auto;
    }
    
    .logo {
        margin-bottom: 15px;
    }
    
    
    .sec1 {
        min-height: 450px;
        padding: 25px 15px;
        border-radius: 20px;
    }
    
    .one, .two, .three {
        height: 75px;
    }
    
    
    .a {
        top: 12%;
    }
    
    .b {
        top: 41%;
    }
    
    .c {
        top: 72%;
    }
    
    .a, .b, .c {
        font-size: clamp(36px, 7vw, 64px);
        width: 95%;
    }
    
    
    .sec2 {
        padding: 50px 5%;
    }
    
    .sec2 h2 {
        font-size: clamp(32px, 6vw, 48px);
        margin-bottom: 25px;
    }
    
    .sec2 p {
        font-size: clamp(16px, 2.8vw, 28px);
        line-height: 1.5;
    }
}


@media screen and (max-width: 480px) {
    body {
        margin-left: 0;
        margin-right: 0;
    }
    
    
    .navbar {
        padding: 10px;
        gap: 10px;
    }
    
    .logo {
        width: 200px;
        height: 60px;
    }
    
    .About, .Support, .More {
        width: 80px;
        height: 40px;
    }
    
    .Buy, .Search, .Profile {
        height: 40px;
        width: 40px;
    }
    
    
    .sec1 {
        min-height: 400px;
        padding: 20px 10px;
        border-radius: 15px;
    }
    
    .one, .two, .three {
        height: 65px;
    }
    
    .a, .b, .c {
        font-size: clamp(28px, 7vw, 48px);
        width: 90%;
        padding: 0 10px;
    }
    
    
    .a {
        top: 13%;
    }
    
    .b {
        top: 42%;
    }
    
    .c {
        top: 73%;
    }
    
    
    .sec2 {
        padding: 40px 4%;
    }
    
    .sec2 h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }
    
    .sec2 p {
        font-size: 16px;
        line-height: 1.6;
    }
    
    
    .Footer {
        padding: 30px 5%;
    }
    
    .logo7 {
        width: 200px;
        height: 60px;
    }
    
    .strong {
        font-size: 16px;
    }
    
    .sign {
        font-size: 12px;
        width: 95%;
    }
    
    .Footer button {
        height: 35px;
        width: 35px;
        margin: 8px 5px;
    }
}


@media screen and (max-width: 360px) {
    
    .navbar {
        gap: 5px;
    }
    
    .About, .Support, .More {
        width: 70px;
        height: 35px;
    }
    
    .sec1 {
        min-height: 350px;
        padding: 15px 8px;
    }
    
    .one, .two, .three {
        height: 55px;
    }
    
    .a, .b, .c {
        font-size: 24px;
        width: 95%;
    }
    
    .sec2 {
        padding: 35px 3%;
    }
    
    .sec2 h2 {
        font-size: 28px;
    }
    
    .sec2 p {
        font-size: 14px;
    }
}


@media screen and (max-height: 600px) and (orientation: landscape) {
    
    .sec1 {
        min-height: 450px;
    }
    
    .navbar {
        height: auto;
        padding: 10px 2%;
    }
    
    .one, .two, .three {
        height: 60px;
    }
    
    .a, .b, .c {
        font-size: clamp(32px, 6vw, 56px);
    }
    
    .sec2 {
        padding: 40px 5%;
    }
}