*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar{
    height: 102px;
    width: 1440px;
    background-color: black;
    margin: 0px;
    position: relative;
}

.logo{
    height: 111px;
    width: 391px;
    top:-12px;
    right: 1702px;
    bottom: 3px;
    left: -23px;
    position: absolute;
    background-image: url("cap images/Gemini_Generated_Image_j2ln6qj2ln6qj2ln-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 0px;
}

.About{
    height: 93px;
    width: 180px;
    top: 1px;
    right: 765px;
    bottom: 8px;
    left: 495px;
    position: absolute;
    background-image: url("cap images/Gemini_Generated_Image_ah5ysaah5ysaah5y-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border-radius: 50px;
    border: none;
}

.Support{
    height: 93px;
    width: 180px;
    top: 4px;
    right: 633px;
    bottom: 5px;
    left: 627px;
    position: absolute;
    background-image: url("cap images/Gemini_Generated_Image_rwcdjyrwcdjyrwcd-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border-radius: 50px;
    border: none;
    z-index: 1;
}

.More{
    height: 93px;
    width: 180px;
    top: 1px;
    right: 491px;
    bottom: 8px;
    left: 769px;
    position: absolute;
    background-image: url("cap images/Gemini_Generated_Image_52whpf52whpf52wh-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border-radius: 50px;
    border: none;
}

.Buy{
    height: 56px;
    width: 110px;
    top: 20px;
    right: 152px;
    bottom: 26px;
    left: 1178px;
    position: absolute;
    border-radius: 50px;
    background-image: url("cap images/Gemini_Generated_Image_oh280yoh280yoh28-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 1px solid gold;
}

.Search{
    height: 67px;
    width: 67px;
    top: 15px;
    right: 85px;
    bottom: 20px;
    left: 1288px;
    position: absolute;
    background-image: url("cap images/Gemini_Generated_Image_vlchwjvlchwjvlch-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 0px;
}

.Profile{
    height: 67px;
    width: 67px;
    top: 15px;
    right: 18px;
    bottom: 20px;
    left: 1355px;
    position: absolute;
    background-image: url("cap images/Gemini_Generated_Image_mceivsmceivsmcei-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 0px;
}

#search-box{
    height: 85px;
    width: 458px;
    top: 232px;
    right: 497px;
    bottom: 192px;
    left: 485px;
    position: absolute;
    border-radius: 50px;
    border: none;
    padding: 20px;
    background-color: black;
    opacity: 0.5;
    color: black;
}

/* Landing Page Starts */

.Landing-Page{
    height: 904px;
    width: 1440px;
    background-image: url("cap images/image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0px;
    border-radius: 40px;
}

.Now{
    height: 77px;
    width: 552px;
    top:560px;
    right: 937px;
    bottom: 267px;
    left:31px ;
    font-size: 34px;
    position: absolute;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.Experience{
    height: 70px;
    width: 460px;
    top: 647px;
    right: 949px;
    bottom: 197px;
    left: 31px;
    position: absolute;
    margin-top: 0px;
    font-size: 20px;
    color: white;
    font-family: ch;
}

.logo2{
    height: 103px;
    width: 508px;
    top: 690px;
    right: 988px;
    bottom: 94px;
    left: -56px;
    position: absolute;
    margin-top: 0px;
    background-image: url("cap images/Gemini_Generated_Image_j2ln6qj2ln6qj2ln-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Buynow{
    height: 54px;
    width: 140px;
    border-radius: 40px;
    top: 812px;
    right: 1253px;
    bottom:38px;
    left: 47px;
    position: absolute;
    opacity: 0.7;
    border: none;
}

.Teaser{
     height: 54px;
    width: 140px;
    border-radius: 40px;
    top: 812px;
    right: 1097px;
    bottom:38px;
    left: 203px;
    position: absolute;
    opacity: 0.7;
    border: none;
}

.Buynow:hover{
    background-color: black;
    color: white;
    border: 1px solid black;
}

.Teaser:hover{
    background-color: black;
    color: white;
    border: 1px solid black;
}

/* Hero Section Starts */

.Hero-Section{
    height: 904px;
    width: 1440px;
    position: relative;
}

.Hero-Section::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("cap images/_ (1).jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1; 
}

.Hero{
    height: 324px;
    width: 310px;
    background-image: url("cap images/Gemini_Generated_Image_8weg0j8weg0j8weg-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 100%;
    top: 116px;
    right: 1020px;
    bottom: 552px;
    left: 110px;
    position: absolute;
}

.Hero2{
    height: 324px;
    width: 310px;
    background-image: url("cap images/Gemini_Generated_Image_8h2hy88h2hy88h2h-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    top: 526px;
    right: 1020px;
    bottom: 142px;
    left: 110px;
    position: absolute;
}

.logo3{
    height: 88px;
    width: 387px;
    top: 116px;
    right: 523px;
    bottom: 788px;
    left: 530px;
    background-image: url("cap images/Gemini_Generated_Image_8p8z918p8z918p8z-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
}

.Hero-Section h2{
    height: 64px;
    width: 598px;
    top: 227px;
    right: 242px;
    bottom: 701px;
    left: 600px;
    position: absolute;
    color: white;
    font-size: 48px;
}

.Hero-Section p{
    height: 576px;
    width: 720px;
    top: 301px;
    right: 105px;
    bottom: 115px;
    left: 615px;
    position: absolute;
    color: white;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

/* The Source+ Page*/

.Graphics{
    height: 904px;
    width: 1440px;
    position: relative;
}

.Graphics::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("cap images/1354199.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1; 
}

.Imageon3{
    height: 620px;
    width: 496px;
    top: 150px;
    right: 104px;
    bottom: 134px;
    left: 840px;
    position: absolute;
    background-image: url("cap images/d55680214e05ab4b4abd2a97836cc4e4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
}

/* .blur{
    height: 620px;
    width: 252px;
    top: 150px;
    right: 103px;
    bottom: 134px;
    left: 1084px;
    background-color: black;
    position: absolute;
    opacity: 60%;
} */

.logo4{
    height: 179px;
    width: 297px;
    top: 88px;
    right: 1076px;
    bottom: 637px;
    left: 67px;
    background-image: url("cap images/Gemini_Generated_Image_q2gkv3q2gkv3q2gk-removebg-preview.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.Graphics h2{
    height: 64px;
    width: 317px;
    top: 251px;
    right: 1018px;
    bottom: 589px;
    left: 105px;
    position: absolute;
    color: white;
    font-size: 48px;
}

.Graphics p{
    height: 576px;
    width: 700px;
    top: 325px;
    right: 600px;
    bottom: 3px;
    left: 120px;
    position: absolute;
    color: white;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

/* Map Page Starts */

.Map{
    height: 904px;
    width: 1440px;
    position: relative;
}

.Map::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("cap images/image.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1; 
}

.Imageon4{
    height: 534px;
    width: 480px;
    top: 144px;
    right: 834px;
    bottom: 224px;
    left: 124px;
    background-image: url("cap images/image copy.png");
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.Map h2{
    height: 64px;
    width: 584px;
    top: 168px;
    right:234px;
    bottom: 660px;
    left: 620px;
    position: absolute;
    color: white;
    font-size: 48px;
}

.Map p{
    height: 576px;
    width: 700px;
    top: 243px;
    right: 84px;
    bottom: 83px;
    left: 653px;
    position: absolute;
    color: white;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}


/* Buy Section Starts */

.Buy-section{
    height: 992px;
    width: 1440px;
    position: relative;
}

.Buy-section::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("cap images/7632d32062dd523d9d7efedbc84f06f9.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
}

.Buy-section h2{
    height: 223px;
    width: 223px;
    top: 66px;
    right: 1112px;
    bottom: 862px;
    left: 105px;
    position: absolute;
    color: white;
    font-size: 48px;
}

.game1{
    height: 800px;
    width: 600px;
    top: 144px;
    right: 735.5px;
    bottom: 48px;
    left: 104.5px;
    position: absolute;
    background-image: url("cap images/74691a13a288a5fa5d0385814f91af5d.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
}

.game2{
     width: 600px;
    top: 144px;
    right: 104.5px;
    bottom: 48px;
    left: 735.5px;
    position: absolute;
    background-image: url("cap images/009cfbc7b27dc9e282a54d745e935bc6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
}

.logo5{
    height: 179px;
    width: 297px;
    top: -27px;
    right: 303px;
    bottom: 648px;
    left: 0px;
    position: absolute;
    background-image: url("cap images/Gemini_Generated_Image_8p8z918p8z918p8z-removebg-preview.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.logo6{
    height: 179px;
    width: 297px;
    top: -27px;
    right: 303px;
    bottom: 648px;
    left: 0px;
    background-image: url("cap images/Gemini_Generated_Image_q2gkv3q2gkv3q2gk-removebg-preview.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.ps5{
    height: 50px;
    width: 91px;
    top: 620px;
    right: 380.5px;
    bottom: 130px;
    left: 128.5px;
    background-image: url("cap images/PS5-Logo-PNG-Free-Image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.xbox{
    height: 26px;
    width: 197px;
    top: 632px;
    right: 183.5px;
    bottom: 142px;
    left: 219.5px;
    background-image: url("cap images/Screenshot_2025-11-08_at_21.05.50-removebg-preview.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    
}

.pc{
    height: 34px;
    width: 54px;
    top: 628px;
    right: 128.5px;
    bottom: 138px;
    left: 417.5px;
    background-image: url("cap images/Screenshot_2025-11-08_at_21.15.17-removebg-preview.png");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.Platform{
    height: 95px;
    width: 450px;
    top: 670px;
    right: 77.5px;
    bottom: 35px;
    left: 72.5px;
    background-color: aliceblue;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-size: 32px;
    color: white;
    border: none;
}

.Platform:hover{
    background-color: black;
    color: white;
    border: 1px solid black;
    opacity: 0.7;
}

/* Footer Page Starts */

.Footer{
    height: 388px;
    width: 1440px;
    position: relative;
    background-color: black;
}

.logo7{
    height: 111px;
    width: 401px;
    top: 48px;
    right: 515px;
    bottom: 229px;      
    left: 524px;
    position: absolute;
    background-color: black;
    background-image: url("cap images/Gemini_Generated_Image_j2ln6qj2ln6qj2ln-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.strong{
    height: 36px;
    width: 1440px;
    top: 159px;     
    right: 0px;
    bottom: 193px;
    left: 0px;
    font-size: 24px;
    position: absolute;
    text-align: center;
    color: white;
}

.sign{
    height: 72px;
    width: 1077px;
    top: 200px;
    right: 182px;
    bottom: 116px;
    left: 181px;
    font-size: 24px;
    position: absolute;
    text-align: center;
    color: white;
}

.facebook{
    height: 40px;
    width: 40px;
    top: 293px;
    right: 772px;
    bottom: 55px;
    left: 628px;
    position: absolute;
    background-image: url("cap images/f5a0bum23hqqkb7qk2q1h1lpje.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: none;
}

.linkedin{
    height: 40px;
    width: 40px;
    top: 293px;
    right: 724px;
    bottom: 55px;
    left: 676px;
    position: absolute;
    background-image: url("cap images/3kft339tguuarggagqlqho6dbh.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: none;
}
.twitter{
    height: 40px;
    width: 40px;
    top: 293px;
    right: 676px;
    bottom: 55px;
    left: 724px;
    position: absolute;
    background-image: url("cap images/Twitter-X-White-Logo-PNG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: none;
}
.instagram{
    height: 40px;
    width: 40px;
    top: 293px;
    right: 628px;
    bottom: 55px;
    left: 772px;
    position: absolute;
    background-image: url("cap images/image copy 7.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: none;
}

button:hover{
    cursor: pointer;
}