*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}


.navbar{
    height: 102px;
    width: 100%;
    background-color: black;
    
    position: relative;
    display: flex;
    
    justify-content: space-between;
    
    flex-wrap: wrap;
    
    overflow: hidden;
}

.logo{
    
    height: 100px;
    width: clamp(391px, 25vw, 391px);
    width: 300px;
    position: relative;
    
    background-image: url("cap images/Gemini_Generated_Image_j2ln6qj2ln6qj2ln-removebg-preview.png");

    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-color: black;
    border: 0px;
    flex-shrink: 0;

}

.m{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: -100px;
}

.d{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-right: 50px;

}


.navbar a:nth-child(2),
.navbar a:nth-child(3),
.navbar a:nth-child(4) {
    display: flex;
}

.About,
.Support,
.More{
    
    height: 60px;
    width: 150px;
    
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border-radius: 50px;
    border: none;
    flex-shrink: 0;
    
}

.About{
    background-image: url("cap images/Gemini_Generated_Image_ah5ysaah5ysaah5y-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
    
}

.Support{
    background-image: url("cap images/Gemini_Generated_Image_rwcdjyrwcdjyrwcd-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    
}

.More{
    background-image: url("cap images/Gemini_Generated_Image_52whpf52whpf52wh-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Buy{
    height: 50px;
    width: clamp(80px, 8vw, 110px);
    border-radius: 50px;
    background-image: url("cap images/Gemini_Generated_Image_oh280yoh280yoh28-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 1px solid gold;
    flex-shrink: 0;
}

html{
    scroll-behavior: smooth;
}
.Search{
    height: 50px;
    width: 50px;
    background-image: url("cap images/Gemini_Generated_Image_vlchwjvlchwjvlch-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 0px;
    flex-shrink: 0;
}

.Profile{
    height: 50px;
    width: 50px;
    background-image: url("cap images/Gemini_Generated_Image_mceivsmceivsmcei-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 0px;
    flex-shrink: 0;
}

#search-box{
    height: 85px;
    width: min(458px, 90%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    border: none;
    padding: 20px;
    background-color: black;
    opacity: 0.5;
    color: black;
}


.Landing-Page{
    min-height: 600px;
    height: clamp(600px, 90vh, 904px);
    width: 100%;
    background-image: url("cap images/image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: 0px;
    border-radius: 40px;
    padding: 20px;
}

.Now{
    position: absolute;
    bottom: 30%;
    left: 3%;
    max-width: 90%;
    width: clamp(300px, 50%, 552px);
    font-size: clamp(24px, 3vw, 34px);
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.3;
}

.Experience{
    position: absolute;
    bottom: 24%;
    left: 3%;
    max-width: 90%;
    width: clamp(280px, 45%, 460px);
    font-size: clamp(16px, 2vw, 20px);
    color: white;
    font-family: ch;
}

.logo2{
    
    height: clamp(60px, 10vw, 103px);
    width: clamp(300px, 35vw, 508px);
    position: absolute;
    bottom: 12%;
    left: -3%;
    background-image: url("cap images/Gemini_Generated_Image_j2ln6qj2ln6qj2ln-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
}

.Buynow,
.Teaser{
    
    height: clamp(45px, 5vw, 54px);
    width: clamp(120px, 12vw, 140px);
    border-radius: 40px;
    position: absolute;
    bottom: 4%;
    opacity: 0.7;
    border: none;
    font-size: clamp(14px, 1.5vw, 16px);
}

.Buynow{
    left: 3%;
}

.Teaser{
    left: calc(3% + clamp(130px, 13vw, 160px));
}

.Buynow:hover,
.Teaser:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
}


.Hero-Section{
    min-height: 600px;
    height: clamp(600px, 90vh, 904px);
    width: 100%;
    position: relative;
    
    padding: 40px 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.Hero-Section::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("cap images/_ (1).jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    z-index: -1; 
}

.Hero,
.Hero2{
    
    height: clamp(200px, 30vw, 324px);
    width: clamp(180px, 25vw, 310px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 5%;
}

.Hero{
    background-image: url("cap images/Gemini_Generated_Image_8weg0j8weg0j8weg-removebg-preview.png");
    top: 10%;
}

.Hero2{
    background-image: url("cap images/Gemini_Generated_Image_8h2hy88h2hy88h2h-removebg-preview.png");
    bottom: 10%;
}

.logo3{
    
    height: clamp(50px, 8vw, 125px);
    width: clamp(200px, 30vw, 387px);
    position: absolute;
    top: 8%;
    right: 35%;
    background-image: url("cap images/Gemini_Generated_Image_8p8z918p8z918p8z-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Hero-Section h2{
    
    position: absolute;
    top: 25%;
    right: 26%;
    max-width: 50%;
    color: white;
    font-size: clamp(28px, 4vw, 48px);
}

.Hero-Section p{
    
    position: absolute;
    top: 33%;
    right: 5%;
    max-width: 50%;
    color: white;
    font-size: clamp(16px, 2vw, 28px);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}


.Graphics{
    min-height: 600px;
    height: clamp(600px, 90vh, 904px);
    width: 100%;
    position: relative;
    padding: 40px 5%;
    display: flex;
    align-items: center;
}

.Graphics::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("cap images/1354199.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    z-index: -1; 
}

.Imageon3{
    
    height: clamp(400px, 60vh, 620px);
    width: clamp(300px, 40vw, 496px);
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    background-image: url("cap images/d55680214e05ab4b4abd2a97836cc4e4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
}

.logo4{
    
    height: clamp(50px, 8vw, 125px);
    width: clamp(200px, 30vw, 387px);
    position: absolute;
    top: 10%;
    left: 1%;
    background-image: url("cap images/Gemini_Generated_Image_q2gkv3q2gkv3q2gk-removebg-preview.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Graphics h2{
    
    position: absolute;
    top: 28%;
    left: 4%;
    max-width: 45%;
    color: white;
    font-size: clamp(28px, 4vw, 48px);
}

.Graphics p{
    
    position: absolute;
    top: 36%;
    left: 5%;
    max-width: 50%;
    color: white;
    font-size: clamp(16px, 2vw, 28px);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}


.Map{
    min-height: 600px;
    height: clamp(600px, 90vh, 904px);
    width: 100%;
    position: relative;
    padding: 40px 5%;
    display: flex;
    align-items: center;
}

.Map::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("cap images/image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    z-index: -1; 
}

.Imageon4{
    
    height: clamp(300px, 45vw, 534px);
    width: clamp(300px, 45vw, 480px);
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    background-image: url("cap images/image copy.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.Map h2{
    
    position: absolute;
    top: 18%;
    right: 25%;
    max-width: 45%;
    color: white;
    font-size: clamp(28px, 4vw, 48px);
}

.Map p{
    
    position: absolute;
    top: 27%;
    right: 5%;
    max-width: 50%;
    color: white;
    font-size: clamp(16px, 2vw, 28px);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}


.Buy-section{
    min-height: 600px;
    width: 100%;
    position: relative;
    padding: 60px 5%;
}

.Buy-section::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("cap images/7632d32062dd523d9d7efedbc84f06f9.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.2;
    z-index: -1;
}

.Buy-section h2{
    
    width: 100%;
    text-align: center;
    color: white;
    font-size: clamp(32px, 5vw, 48px);
    margin-bottom: 40px;
}


.Buy-section::after {
    content: "";
    display: table;
    clear: both;
}

.game1,
.game2{
    
    height: clamp(500px, 70vh, 800px);
    width: 50%;
    max-width: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50px;
    position: relative;
    margin: 20px auto;
}

.game1{
    background-image: url("cap images/74691a13a288a5fa5d0385814f91af5d.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.game2{
    background-image: url("cap images/009cfbc7b27dc9e282a54d745e935bc6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.game1:hover{
   content: "";
    opacity: 0.7;
    inset: 0;
    background-image: url("cap images/74691a13a288a5fa5d0385814f91af5d.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.game2:hover{
    content: "";
    opacity: 0.7;
    inset: 0;
    background-image: url("cap images/009cfbc7b27dc9e282a54d745e935bc6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo5,
.logo6{
    
    height: clamp(100px, 15vw, 179px);
    width: clamp(150px, 20vw, 297px);
    position: absolute;
    top: -5%;
    left: -3%;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.logo5{
    background-image: url("cap images/Gemini_Generated_Image_8p8z918p8z918p8z-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo6{
    background-image: url("cap images/Gemini_Generated_Image_q2gkv3q2gkv3q2gk-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.ps5,
.xbox,
.pc{
    position: absolute;
    bottom: 25%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.ps5{
    
    height: clamp(30px, 5vw, 50px);
    width: clamp(55px, 8vw, 91px);
    left: 20%;
    bottom: 20%;
    background-image: url("cap images/PS5-Logo-PNG-Free-Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.xbox{
    height: clamp(20px, 3vw, 26px);
    width: clamp(120px, 15vw, 197px);
    left: 52%;
    bottom: 22%;
    transform: translateX(-50%);
    background-image: url("cap images/Screenshot_2025-11-08_at_21.05.50-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pc{
    height: clamp(25px, 4vw, 34px);
    width: clamp(40px, 5vw, 54px);
    right: 23%;
    bottom: 21.5%;
    background-image: url("cap images/Screenshot_2025-11-08_at_21.15.17-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Platform{
    
    height: clamp(60px, 8vw, 95px);
    width: 80%;
    max-width: 450px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    font-size: clamp(20px, 2.5vw, 32px);
    color: white;
    border: none;
}

.Platform:hover{
    background-color: black;
    color: white;
    border: 1px solid white;
    opacity: 0.7;
}


.Footer{
    min-height: 300px;
    width: 100%;
    position: relative;
    background-color: black;
    padding: 40px 5%;
    text-align: center;
}

.logo7{
    
    height: clamp(70px, 10vw, 111px);
    width: clamp(250px, 35vw, 401px);
    margin: 0 auto 20px;
    position: relative;
    background-color: black;
    background-image: url("cap images/Gemini_Generated_Image_j2ln6qj2ln6qj2ln-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.strong{
    width: 100%;
    font-size: clamp(18px, 2.5vw, 24px);
    margin: 20px 0;
    color: white;
}

.sign{
    width: 90%;
    max-width: 1077px;
    font-size: clamp(14px, 2vw, 24px);
    margin: 20px auto;
    color: white;
    line-height: 1.5;
}


.Footer .facebook,
.Footer .linkedin,
.Footer .twitter,
.Footer .instagram,
.Footer .youtube{
    height: 40px;
    width: 40px;
    display: inline-block;
    position: relative;
    margin: 10px 8px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: none;
}

.facebook{
    background-image: url("cap images/f5a0bum23hqqkb7qk2q1h1lpje.png");
}

.linkedin{
    background-image: url("cap images/3kft339tguuarggagqlqho6dbh.png");
}

.twitter{
    background-image: url("cap images/Twitter-X-White-Logo-PNG.png");
}

.instagram{
    background-image: url("cap images/image copy 7.png");
}

button:hover{
    cursor: pointer;
}


@media screen and (max-width: 1024px) {
    body {
        margin-left: 3%;
        margin-right: 3%;
    }
    
    
    .navbar {
        height: auto;
        padding: 15px 2%;
        gap: 10px;
    }
    
    .About, .Support, .More {
        height: 50px;
        width: 120px;
    }
    
    
    .Hero-Section h2,
    .Hero-Section p {
        max-width: 55%;
    }
    
    
    .Graphics h2,
    .Graphics p {
        max-width: 52%;
    }
}


@media screen and (max-width: 768px) {
    body {
        margin-left: 2%;
        margin-right: 2%;
    }
    
    
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px;
    }
    
    .logo {
        position: relative;
        margin-bottom: 15px;
    }
    
    
    .Hero-Section,
    .Graphics,
    .Map {
        flex-direction: column;
        padding: 30px 5%;
        min-height: auto;
    }
    
    .Hero-Section h2,
    .Hero-Section p,
    .Graphics h2,
    .Graphics p,
    .Map h2,
    .Map p {
        position: relative;
        max-width: 100%;
        margin: 20px 0;
        top: auto;
        right: auto;
        left: auto;
        bottom: auto;
        transform: none;
    }
    
    .Hero,
    .Hero2,
    .Imageon3,
    .Imageon4,
    .logo3,
    .logo4 {
        position: relative;
        margin: 20px auto;
        top: auto;
        right: auto;
        left: auto;
        bottom: auto;
        transform: none;
    }
    
    
    .game1,
    .game2 {
        float: none;
        margin: 20px auto;
    }
}


@media screen and (max-width: 480px) {
    body {
        margin-left: 0;
        margin-right: 0;
    }
    
    
    .navbar {
        padding: 10px;
        gap: 10px;
    }
    
    .logo {
        width: 200px;
        height: 60px;
    }
    
    .About, .Support, .More {
        width: 80px;
        height: 40px;
        font-size: 12px;
    }
    
    .Buy, .Search, .Profile {
        height: 40px;
        width: 40px;
    }
    
    
    .Landing-Page {
        border-radius: 20px;
        padding: 15px;
    }
    
    .Now {
        bottom: 35%;
        font-size: 20px;
    }
    
    .Experience {
        bottom: 25%;
        font-size: 14px;
    }
    
    .logo2 {
        bottom: 16%;
        width: 250px;
    }
    
    .Buynow,
    .Teaser {
        width: 100px;
        height: 40px;
        font-size: 12px;
    }
    
    .Teaser {
        left: calc(3% + 110px);
    }
    
    
    .Hero-Section,
    .Graphics,
    .Map {
        padding: 20px 3%;
    }
    
    
    .Hero-Section h2,
    .Graphics h2,
    .Map h2 {
        font-size: 24px;
        margin: 15px 0;
    }
    
    .Hero-Section p,
    .Graphics p,
    .Map p {
        font-size: 14px;
        line-height: 1.4;
    }
    
    
    .Hero,
    .Hero2,
    .Imageon3,
    .Imageon4 {
        width: 90%;
        height: auto;
        aspect-ratio: 1;
    }
    
    
    .Buy-section h2 {
        font-size: 28px;
        margin-bottom: 20px;
    }
    
    .game1,
    .game2 {
        height: 500px;
        border-radius: 30px;
    }
    
    .Platform {
        font-size: 18px;
        height: 50px;
    }
    
    
    .Footer {
        padding: 30px 5%;
    }
    
    .logo7 {
        width: 200px;
        height: 60px;
    }
    
    .strong {
        font-size: 16px;
    }
    
    .sign {
        font-size: 12px;
        width: 95%;
    }
    
    .Footer button {
        height: 35px;
        width: 35px;
        margin: 8px 5px;
    }
}


@media screen and (max-width: 360px) {
    
    .navbar {
        gap: 5px;
    }
    
    .About, .Support, .More {
        width: 70px;
        height: 35px;
    }
    
    .Landing-Page {
        min-height: 500px;
    }
    
    .Now {
        font-size: 18px;
        width: 95%;
    }
    
    .Experience {
        font-size: 12px;
        width: 95%;
    }
    
    .Buynow,
    .Teaser {
        width: 90px;
        height: 35px;
        font-size: 11px;
    }
}