*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar{
    height: 102px;
    width: 1440px;
    background-color: black;
    margin: 0px;
    position: relative;
}

.logo{
    height: 111px;
    width: 391px;
    top:-12px;
    right: 1702px;
    bottom: 3px;
    left: -23px;
    position: absolute;
    background-image: url("cap images/Gemini_Generated_Image_j2ln6qj2ln6qj2ln-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 0px;
}

.About{
    height: 93px;
    width: 180px;
    top: 1px;
    right: 765px;
    bottom: 8px;
    left: 495px;
    position: absolute;
}

.Support{
    height: 93px;
    width: 180px;
    top: 4px;
    right: 633px;
    bottom: 5px;
    left: 627px;
    position: absolute;
}

.More{
    height: 93px;
    width: 180px;
    top: 1px;
    right: 491px;
    bottom: 8px;
    left: 769px;
    position: absolute;
}

.Buy{
    height: 56px;
    width: 110px;
    top: 20px;
    right: 152px;
    bottom: 26px;
    left: 1178px;
    position: absolute;
    border-radius: 50px;
    background-image: url("cap images/Gemini_Generated_Image_oh280yoh280yoh28-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 1px solid gold;
}

.Search{
    height: 67px;
    width: 67px;
    top: 15px;
    right: 85px;
    bottom: 20px;
    left: 1288px;
    position: absolute;
    background-image: url("cap images/Gemini_Generated_Image_vlchwjvlchwjvlch-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 0px;
}

.Profile{
    height: 67px;
    width: 67px;
    top: 15px;
    right: 18px;
    bottom: 20px;
    left: 1355px;
    position: absolute;
    background-image: url("cap images/Gemini_Generated_Image_mceivsmceivsmcei-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 0px;
}

.sec1{
    height: 509px;
    width: 1440px;
    background-color: pink;
    position: relative;
    background-image: url("cap images/4ae96d1a309f3ba0593035487a06b9d6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 30px;
}

.sec1 h2{
    height: 168px;
    width: 481px;
    top: 161px;
    right: 480px;
    bottom: 230px;
    left: 509px;
    font-size: 54px;
    font-weight:ExtraBold;
    position: absolute; 
    color: black;
}

#search-box{
    height: 85px;
    width: 458px;
    top: 232px;
    right: 497px;
    bottom: 192px;
    left: 485px;
    position: absolute;
    border-radius: 50px;
    border: none;
    padding: 20px;
    background-color: black;
    opacity: 0.5;
    color: black;
}

.sec2{
    height: 1176px;
    width: 1440px;
    position: relative;
}

/* .sec2::before{
        content: "";
    position: absolute;
    inset: 0;
    background-image: url("cap images/image copy 6.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1; 
} */

.sec2 h3{
    height: 26px;
    width: 300px;
    top: 118px;
    right: 1121px;
    bottom: 1032px;
    left: 58px;
    font-size: 40px;
    font-weight:SemiBold;
    position: absolute;
    color: white;
}

.one{
    height: 431px;
    width: 410px;
    border-radius: 40px;
     background-color: #222222;
    position: absolute;
    top: 185px;
    right: 952px;
    bottom: 560px;
    left: 75px;
}

.two{
    height: 431px;
    width: 410px;
    border-radius: 40px;
     background-color: #222222;
    position: absolute;
    top: 185;
    right: 512px;
    bottom: 560px;
    left: 515px;
}

.three{
    height: 431px;
    width: 410px;
    border-radius: 40px;
    background-color: #222222;
    position: absolute;
    top: 185;
    right: 72px;
    bottom: 560px;
    left: 955px;
}

.four{
    height: 431px;
    width: 410px;
    border-radius: 40px;
    background-color: #222222;
    position: absolute;
    top: 687px;
    bottom: 58px;
    right: 952px;
    left: 75px;
}

.five{
    height: 431px;
    width: 410px;
    border-radius: 40px;
    background-color: #222222;
    position: absolute;
    top: 687px;
    bottom: 58px;
    right: 512px;
    left: 515px;    
}
.six{
    height: 431px;
    width: 410px;
    border-radius: 40px;
    background-color: #222222;
    position: absolute;
    top: 687px;
    bottom: 58px;
    right: 72px;
    left: 955px;    
}

.sec3{
    height: 302px;
    width: 1440px;
    background-color: black;
    position: relative;
}

.sec3 h3{
    height: 168px;
    width: 481px;
    top: 49px;
    right: 472px;   
    bottom: 105px;
    left: 604px;
    font-size: 36px;
    font-weight:SemiBold;
    position: absolute;
    color: white;
}

.request{
    height: 96px;
    width: 220px;
    top: 105px;
    right: 607px;
    bottom: 31px;
    left: 610px;
    position: absolute;
    border-radius: 50px;
    background-color: gold;
    font-size: large;
    font-weight: bold;
}

.Footer{
    height: 388px;
    width: 1440px;
    position: relative;
    background-color: black;
}

.logo7{
    height: 111px;
    width: 401px;
    top: 48px;
    right: 515px;
    bottom: 229px;      
    left: 524px;
    position: absolute;
    background-color: black;
    background-image: url("cap images/Gemini_Generated_Image_j2ln6qj2ln6qj2ln-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.strong{
    height: 36px;
    width: 1440px;
    top: 159px;     
    right: 0px;
    bottom: 193px;
    left: 0px;
    font-size: 24px;
    position: absolute;
    text-align: center;
    color: white;
}

.sign{
    height: 72px;
    width: 1077px;
    top: 200px;
    right: 182px;
    bottom: 116px;
    left: 181px;
    font-size: 24px;
    position: absolute;
    text-align: center;
    color: white;
}

.facebook{
    height: 40px;
    width: 40px;
    top: 293px;
    right: 772px;
    bottom: 55px;
    left: 628px;
    position: absolute;
    background-image: url("cap images/f5a0bum23hqqkb7qk2q1h1lpje.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: none;
}

.linkedin{
    height: 40px;
    width: 40px;
    top: 293px;
    right: 724px;
    bottom: 55px;
    left: 676px;
    position: absolute;
    background-image: url("cap images/3kft339tguuarggagqlqho6dbh.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: none;
}
.twitter{
    height: 40px;
    width: 40px;
    top: 293px;
    right: 676px;
    bottom: 55px;
    left: 724px;
    position: absolute;
    background-image: url("cap images/Twitter-X-White-Logo-PNG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: none;
}
.instagram{
    height: 40px;
    width: 40px;
    top: 293px;
    right: 628px;
    bottom: 55px;
    left: 772px;
    position: absolute;
    background-image: url("cap images/image copy 7.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: none;
}

h4{
    height: 55px;
    width: 92px;
    top: 59px;
    right: 300px;           
    bottom:  317px;
    left: 18px;
    font-size: 22px;
    position: absolute;
    color: white;
}

p{
    height: 258px;
    width: 343px;
    top: 128px;
    right: 26px;           
    bottom: 45px;
    left: 41px;
    font-size: 18px;
    position: absolute;
    color: white;
}