*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-left: 5%;
    margin-right: 5%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
}


.navbar{
    height: 102px;
    width: 100%;
    background-color: black;
    
    position: relative;
    display: flex;
    
    justify-content: space-between;
    
    flex-wrap: wrap;
    
    overflow: hidden;
}

.logo{
    
    height: 100px;
    width: clamp(391px, 25vw, 391px);
    width: 300px;
    position: relative;
    
    background-image: url("cap images/Gemini_Generated_Image_j2ln6qj2ln6qj2ln-removebg-preview.png");

    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-color: black;
    border: 0px;
    flex-shrink: 0;

}

.m{
    display:flex;
    height: 102px;
    justify-content: center;
    align-items: center;
    gap: -100px;
}

.d{
    display: flex;
    height: 102px;
    justify-content: center;
    align-items: center;
    
    margin-right: 50px;

}


.navbar a:nth-child(2),
.navbar a:nth-child(3),
.navbar a:nth-child(4) {
    display: flex;
}

.About,
.Support,
.More{
    
    height: 60px;
    width: 150px;
    
    position: relative;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border-radius: 50px;
    border: none;
    flex-shrink: 0;
    
}

.About{
    background-image: url("cap images/Gemini_Generated_Image_ah5ysaah5ysaah5y-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0px;
    
}

.Support{
    background-image: url("cap images/Gemini_Generated_Image_rwcdjyrwcdjyrwcd-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    
}

.More{
    background-image: url("cap images/Gemini_Generated_Image_52whpf52whpf52wh-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Buy{
    height: 50px;
    width: clamp(80px, 8vw, 110px);
    border-radius: 50px;
    background-image: url("cap images/Gemini_Generated_Image_oh280yoh280yoh28-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 1px solid gold;
    flex-shrink: 0;
}

.Search{
    height: 50px;
    width: 50px;
    background-image: url("cap images/Gemini_Generated_Image_vlchwjvlchwjvlch-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 0px;
    flex-shrink: 0;
}

.Profile{
    height: 50px;
    width: 50px;
    background-image: url("cap images/Gemini_Generated_Image_mceivsmceivsmcei-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 0px;
    flex-shrink: 0;
}

#search-box{
    
    height: 85px;
    width: min(458px, 90%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    border: none;
    padding: 20px;
    background-color: black;
    opacity: 0.5;
    color: black;
}


.sec1{
    
    min-height: 400px;
    height: clamp(400px, 50vh, 509px);
    width: 100%; 
    position: relative;
    background-image: url("cap images/4ae96d1a309f3ba0593035487a06b9d6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 30px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    margin-bottom: 20px;
}

.sec1 h2{
    
    font-size: clamp(36px, 5vw, 54px);
    font-weight: 800;
    color: black;
    text-align: center;
    margin-bottom: 30px;
    position: relative; 
}

#search-box{
    
    height: clamp(60px, 8vh, 85px);
    width: 600px;
    position: relative; 
    border-radius: 50px;
    border: none;
    padding: 20px;
    background-color: rgba(27, 31, 66, 0.9); 
    color: black;
    font-size: clamp(14px, 1.5vw, 16px);
    transition: all 0.3s ease; 
}

#search-box::placeholder{
    color: rgba(0, 0, 0, 0.5);
}

#search-box:hover{
    background-color: white;
}

#search-box:focus{
    outline: none;
    background-color: white;
    box-shadow: 0 0 0 3px rgba(255, 215, 0, 0.3); 
}


.sec2{
    
    min-height: 600px;
    height: auto; 
    width: 100%; 
    position: relative;
    padding: 60px 0;
    margin-bottom: 20px;
}

.sec2 h3{
    
    font-size: clamp(28px, 4vw, 40px);
    font-weight: 600;
    color: white;
    margin-bottom: 40px;
    text-align: left; 
    padding-left: 5%; 
    position: relative; 
}





.one, .two, .three, .four, .five, .six{
    
    height: auto; 
    min-height: 280px;
    width: 100%;
    max-width: 410px;
    border-radius: 40px;
    background-color: #222222;
    position: relative; 
    padding: 35px 30px; 
    display: inline-block; 
    vertical-align: top;
    margin: 10px;
    transition: all 0.3s ease; 
}


.sec2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 60px 5%;
}

.sec2 h3 {
    width: 100%;
    flex-basis: 100%;
}

.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover{
    background-color: #3c3b3b;
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); 
}


.sec3{
    
    min-height: 250px;
    height: auto; 
    width: 100%; 
    background-color: black;
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 5%;
    text-align: center;
    margin-bottom: 20px;
}

.sec3 h3{
    
    font-size: clamp(28px, 4vw, 36px);
    font-weight: 600;
    color: white;
    margin-bottom: 30px;
    position: relative; 
}

.request{
    
    height: clamp(60px, 8vh, 96px);
    width: auto;
    min-width: 200px;
    padding: 0 40px;
    border-radius: 50px;
    background-color: gold;
    font-size: clamp(16px, 1.8vw, 20px);
    font-weight: bold;
    border: none;
    cursor: pointer;
    position: relative; 
    transition: all 0.3s ease; 
}

.request:hover{
    background-color: white;
    color: gold;
    transform: translateY(-2px); 
    box-shadow: 0 4px 12px rgba(255, 215, 0, 0.4); 
}


.Footer{
    min-height: 300px; 
    width: 100%; 
    position: relative;
    background-color: black;
    padding: 40px 5%;
    text-align: center;
}

.logo7{
    
    height: clamp(70px, 10vw, 111px);
    width: clamp(250px, 35vw, 401px);
    margin: 0 auto 20px; 
    position: relative; 
    background-color: black;
    background-image: url("cap images/Gemini_Generated_Image_j2ln6qj2ln6qj2ln-removebg-preview.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.strong{
    width: 100%;
    font-size: clamp(18px, 2.5vw, 24px);
    margin: 20px 0;
    color: white;
    position: relative; 
}

.sign{
    width: 90%;
    max-width: 1077px;
    font-size: clamp(14px, 2vw, 24px);
    margin: 20px auto;
    color: white;
    line-height: 1.5;
    position: relative; 
}


.Footer .facebook,
.Footer .linkedin,
.Footer .twitter,
.Footer .instagram,
.Footer .youtube{
    height: 40px;
    width: 40px;
    display: inline-block; 
    position: relative; 
    margin: 10px 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: none;
    transition: transform 0.3s ease; 
}

.Footer button:hover{
    transform: scale(1.15); 
}

.facebook{
    background-image: url("cap images/f5a0bum23hqqkb7qk2q1h1lpje.png");
}

.linkedin{
    background-image: url("cap images/3kft339tguuarggagqlqho6dbh.png");
}

.twitter{
    background-image: url("cap images/Twitter-X-White-Logo-PNG.png");
}

.instagram{
    background-image: url("cap images/image copy 7.png");
}


h4{
    
    position: relative;
    color: white;
    font-size: clamp(18px, 2vw, 22px);
    margin-bottom: 15px;
    line-height: 1.3;
}

p{
    
    position: relative;
    color: rgba(255, 255, 255, 0.7);
    font-size: clamp(14px, 1.5vw, 18px);
    line-height: 1.6;
    opacity: 1; 
}

button:hover{
    cursor: pointer;
}


@media screen and (max-width: 1024px) {
    body {
        margin-left: 3%;
        margin-right: 3%;
    }
    
    
    .navbar {
        height: auto;
        padding: 15px 2%;
        gap: 10px;
    }
    
    .About, .Support, .More {
        height: 50px;
        width: 120px;
    }
    
    
    .sec2 {
        gap: 25px;
        padding: 50px 4%;
    }
    
    .one, .two, .three, .four, .five, .six {
        max-width: calc(50% - 15px); 
        margin: 0;
    }
}


@media screen and (max-width: 768px) {
    body {
        margin-left: 2%;
        margin-right: 2%;
    }
    
    
    .navbar {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding: 20px;
        height: auto;
    }
    
    .logo {
        margin-bottom: 15px;
    }
    
    
    .sec1 {
        min-height: 350px;
        padding: 30px 20px;
        border-radius: 20px;
    }
    
    .sec1 h2 {
        margin-bottom: 25px;
    }
    
    #search-box {
        width: 100%;
        max-width: 500px;
    }
    
    
    .sec2 {
        gap: 20px;
        padding: 40px 4%;
    }
    
    .sec2 h3 {
        padding-left: 0;
        text-align: center;
    }
    
    .one, .two, .three, .four, .five, .six {
        max-width: 100%; 
        margin: 0 auto;
    }
    
    
    .sec3 {
        padding: 50px 5%;
    }
}


@media screen and (max-width: 480px) {
    body {
        margin-left: 0;
        margin-right: 0;
    }
    
    
    .navbar {
        padding: 10px;
        gap: 10px;
    }
    
    .logo {
        width: 200px;
        height: 60px;
    }
    
    .About, .Support, .More {
        width: 80px;
        height: 40px;
    }
    
    .Buy, .Search, .Profile {
        height: 40px;
        width: 40px;
    }
    
    
    .sec1 {
        min-height: 320px;
        padding: 25px 15px;
        border-radius: 15px;
    }
    
    .sec1 h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }
    
    #search-box {
        height: 55px;
        font-size: 14px;
        padding: 15px;
    }
    
    
    .sec2 {
        padding: 30px 3%;
        gap: 20px;
    }
    
    .sec2 h3 {
        font-size: 28px;
        margin-bottom: 30px;
    }
    
    .one, .two, .three, .four, .five, .six {
        min-height: 250px;
        padding: 25px 20px;
        border-radius: 25px;
    }
    
    h4 {
        font-size: 18px;
        margin-bottom: 12px;
    }
    
    p {
        font-size: 14px;
    }
    
    
    .sec3 {
        padding: 40px 4%;
    }
    
    .sec3 h3 {
        font-size: 24px;
        margin-bottom: 25px;
    }
    
    .request {
        min-width: 180px;
        height: 55px;
        font-size: 16px;
        padding: 0 30px;
    }
    
    
    .Footer {
        padding: 30px 5%;
    }
    
    .logo7 {
        width: 200px;
        height: 60px;
    }
    
    .strong {
        font-size: 16px;
    }
    
    .sign {
        font-size: 12px;
        width: 95%;
    }
    
    .Footer button {
        height: 35px;
        width: 35px;
        margin: 8px 5px;
    }
}


@media screen and (max-width: 360px) {
    
    .navbar {
        gap: 5px;
    }
    
    .About, .Support, .More {
        width: 70px;
        height: 35px;
    }
    
    .sec1 {
        min-height: 280px;
        padding: 20px 10px;
    }
    
    .sec1 h2 {
        font-size: 28px;
    }
    
    #search-box {
        height: 50px;
    }
    
    .sec2 {
        padding: 25px 2%;
    }
    
    .one, .two, .three, .four, .five, .six {
        min-height: 220px;
        padding: 20px 15px;
    }
    
    .request {
        min-width: 160px;
        height: 50px;
        font-size: 14px;
    }
}


@media screen and (max-height: 600px) and (orientation: landscape) {
    
    .sec1 {
        min-height: 350px;
    }
    
    .navbar {
        height: auto;
        padding: 10px 2%;
    }
    
    .one, .two, .three, .four, .five, .six {
        min-height: 240px;
    }
}